{% extends 'new/base.html' %}
{% block title %}python members{% endblock %}
{% block content %}

<div class="row">
        {% if profiles %}
            {% for prof in profiles %}
                <div class="col-sm-3">
                    <div class="card card-body my-2" style="background-color: {% if prof.is_male %}navy; {% else %}deeppink;{% endif %}">
                        <h4 class="text-center"
                        style="white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                         max-width: 90%;
                        border-bottom: 1px solid black;
                        font-family: Aldrich;">{{ prof.name }}</h4>
                        <hr>
                        <img src="{{ prof.photo.url }}" class="rounded-circle" mx-auto img-fluid alt="" style="height: 150px; width: 150px;">
                        <div class="caption">
                            <h5 class="text-center" style="font-family: Cinzel Decorative; white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                         max-width: 90%; ">{{ prof.occupation }}</h5>
                            <h6 class="text-center" style="white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 90%;
                        font-family: Yellowtail" ;>{{ prof.slogan }}</h6>
                            <a href="" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-{{ prof.id }}">
                                <i class="fas fa-info"></i>
                            </a>
                            <a href="{% url 'new:delete' prof.id %}" class="btn btn-danger btn-sm" style="float: right;">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                <div class="modal fade" id="modal-{{ prof.id }}" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ prof.name }}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                        <div class="modal-body">
                            <p style="font-family: Black Ops One">
                                {{ prof.name }} is a {{ prof.age }} year old {{ prof.nationality }} who lives in{{ prof.residence }} .
                                {% if prof.is_male %} He {% else %}She{% endif %} studied in {{ prof.primary }} primary school and {{ prof.secondary }} secondary school.
                                {% if prof.is_male %}He {% else %}She{% endif %} is currently working as a {{ prof.occupation }} and at the same time pursuing {{ prof.course }} in JKUAT.
                                {% if prof.is_male %}His {% else %}Her{% endif %} email address is <a href="mailto: {{ prof.email }}"> {{ prof.email }}</a> and {% if prof.is_male %}he {% else %}she {% endif %} loves {{ prof.hobby }}.
                            </p>
                        </div>

                        <div class="modal-footer">
                            <a href="{% url 'new:update-member' prof.id %}" class="btn btn-outline-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>

                    </div>
                    </div>
                </div>
                </div>

            {% endfor %}
        {% endif %}
    </div>
{% endblock %}